[submodule "modules/ICU4c-73.1-Windows-x64-Release"]
	path = modules/ICU4c-73.1-Windows-x64-Release
	url = https://github.com/CommonCppLibs/ICU4c-73.1-Windows-x64-Release.git
[submodule "modules/Botan-2.19.3-Windows-x64-Release"]
	path = modules/Botan-2.19.3-Windows-x64-Release
	url = https://github.com/CommonCppLibs/Botan-2.19.3-Windows-x64-Release.git
[submodule "modules/InsaneCpp"]
	path = modules/InsaneCpp
	url = https://github.com/Satancito/InsaneCpp.git
[submodule "modules/CommonCppIncludes"]
	path = modules/CommonCppIncludes
	url = https://github.com/Satancito/CommonCppIncludes.git
